---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>

	<h1>About Me</h1>
	<h2>... and me astro site!</h2>

	<p>I am working through Astro's introductory tutorial. this is the second page on my website, and is the firts one i built myself</p>

	<p>This site will update as I complete more of the tutorial, so keep checking back and how my journey is going!</p>
</Layout>